.profile__edit-button {
    background: #000000;
    width: 24px;
    height: 24px;
    padding: 0 0 0 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: url(../../../images/Pointer.png) 2 2, pointer;
}


@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        padding-left: 10px;
}
}