.profile__edit-button {
    background: transparent;
    width: 24px;
    height: 24px;
    margin: 0 0 0 18px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-image: url(../../../images/edit-botton.svg);
    background-position: center;

}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: url(../../../images/Pointer.png) 2 2, pointer;
}


@media screen and (max-width: 1100px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-size: 35% 35%;
}
}
