.popup__item-name {
    max-width: 358px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
    .popup__item-name {
        width: 238px;
        margin-bottom: 22px;
}
}