.page {
    max-width: 1280px;
    margin: 0 auto;
    background: #000000;
    font-family: 'Inter','Arial',sans-serif;
        font-style: normal;
        font-weight: 900;
        color: #FFFFFF;
    }