.popup__input {
  max-width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:first-child{
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .popup__input {
      width: 238px;
}
}
