

/*page*/

.page {
    max-width: 1280px;
    margin: 0 auto;
    background: #000000;
    font-family: 'Inter','Arial',sans-serif;
        font-style: normal;
        font-weight: 900;
        color: #FFFFFF;
    }
    
    
    /*header*/
    
    .page__header {
        margin: 45px 200px 40px 200px;
    }

    @media screen and (max-width: 767px) {
        .page__header  {
            margin: 28px 0px 42px 0px;
        }
    }
    
    .header {
    max-width: 880px;
    height: 74px;
    }
    
    .header__logo {
        max-width: 142px;
        height: 33px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: 767px) {
        .header__logo  {
            width: 103.74px;
            height: 24.4px;
            padding-bottom: 31.6px;
            padding-left: 27px;
        }
    }
    
    .header__Line {
        max-width: 880px;
        opacity: 0.7;
        border: 1px solid #545454;
    }

    @media screen and (max-width: 767px) {
        .header__Line  {
        max-width: 320px;
        }
    }
    
    
    /*content*/
    
    .page__content {
        margin: 0 200px;
    }

    @media screen and (max-width: 767px) {
        .page__content  {
        margin: 19px;
        }
    }
    
    /*profile*/
    .profile {
        display: flex;
        max-width: 880px;
    }

    @media screen and (max-width: 767px) {
        .profile  {
            display: block;
            max-width: 282px;
            text-align: center;
        }
    }
    
    .content__profile {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 767px) {
        .content__profile {
            margin-bottom: 36px;
        }
    }
    
    .profile__avatar {
        width: 120px;
        height: 120px;
        background: #C4C4C4;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
        margin-right: 30px;
    }

    @media screen and (max-width: 767px) {
        .profile__avatar {
            margin-right: 0px;
            margin-bottom: 26px;
    }
    }
    
    .profile__info {
        padding-right: 263px;
        align-self: center;
        max-width: 336px;
        justify-content: space-between;
    }

    @media screen and (max-width: 900px) {
        .profile__info {
        margin-right: 150px;
    }
    }

    @media screen and (max-width: 767px) {
        .profile__info {
            margin-right: 0px;
    }
    }

    .profile__user{
        display: flex;
        align-items: baseline;
    }

    @media screen and (max-width: 767px) {
        .profile__user {
            justify-content: center;
    }
    }
       
    .profile__user-name {
        margin: 0;
        padding: 0;
        max-width: 294px;
        font-weight: 500;
        font-size: 42px;
        line-height: 48px;
    }

    @media screen and (max-width: 767px) {
        .profile__user-name {
            font-size: 27px;
            line-height: 33px;
            text-align: center;
            margin-bottom: 7px;
    }
    }


    .profile__edit-button {
        background: #000000;
        width: 24px;
        height: 24px;
        padding: 0 0 0 18px;
    }

    .profile__edit-button:hover {
        opacity: 0.6;
        cursor: url(../../../images/Pointer.png) 2 2, pointer;
    }


    @media screen and (max-width: 767px) {
        .profile__edit-button {
            width: 18px;
            height: 18px;
            padding-left: 10px;
    }
    }
    
    .profile__user-info {
        margin: 0;
        padding-top: 16px;
        max-width: 336px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    @media screen and (max-width: 767px) {
        .profile__user-status {
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-bottom: 33px;
    }
    }
    
    .profile__add-button {
        background: #000000;
        width: 150px;
        height: 50px;
        border-radius: 2px;
        align-self: center;
        border: 2px solid #FFFFFF;
        padding: 0;
    }

    .profile__add-button:hover {
        opacity: 0.6;
        cursor: url(../../../images/Pointer.png) 2 2, pointer;
    }

    @media screen and (max-width: 767px) {
        .profile__add-button  {
            width: 282px;
            height: 50px;
        }
    }
    
    
    /*elements*/
    
    .elements {
        max-width: 880px;
        margin-bottom: 66px;
    }

    @media screen and (max-width: 767px) {
        .elements  {
            margin-bottom: 48px;
        }
        }
    
    
    .elements__items {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 17px 20px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media screen and (max-width: 1023px) {
        .elements__items {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media screen and (max-width: 767px) {
        .elements__items {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    }
    
    .elements__element {
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        max-width: 282px;
        height: 361px;
        overflow: hidden;
    }
    
    .elements__mask-group {
        width: 282px;
        height: 282px;
        object-fit:cover;
        display: block;
    }
    
    
    .elements__reaction {
        display: flex;
        justify-content: space-between;
        max-width: 246px;
        padding: 25px 20px 31px 21px;
    }
    
    .elements__mesto-name {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        max-width: 189px;
        height: 29px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .elements__heart {
        width: 22px;
        height: 19px;
        align-self: center;
    }

    /*footer*/

    .footer {
        max-width: 318px;
    }

    @media screen and (max-width: 767px) {
        .footer {
        max-width: 282px;
    }
    }

    .content__footer {
        margin-bottom: 60px;
        margin-left: 200px;
    }

    @media screen and (max-width: 767px) {
        .content__footer {
        margin-bottom: 36px;
        margin-left: 19px;
    }
    }
    
    .footer__copyright {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #545454;
    }

    @media screen and (max-width: 767px) {
        .footer__copyright {
            font-size: 14px;
            line-height: 17px;
    }
    }
  
    /*popup */

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .popup_is-open {
        display: flex;
    }

    .popup__container {
        width: 430px;
        height: 330px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        align-self: center;
    }   

    @media screen and (max-width: 767px) {
        .popup__container {
            width: 282px;
            height: 322px;
    }
    }

    .popup__button-close {
        align-self: flex-end;
        margin-top: -32px;
        margin-right: -32px;
        width: 32px;
        height: 32px;
        background-image: url(./images/Close-Icon.svg);
        background-position: center;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    .popup__button-close:hover {
        opacity: 0.6;
        cursor: url(../../../images/Pointer.png) 2 2, pointer;
    }


    .popup__form {
        display: flex;
        flex-direction: column;

    } 

    .popup__text-description {
        font-size: 24px;
        line-height: 29px;
        max-width: 330px;
        color: #000000;
        padding: 34px 0 54px 36px;
        margin: 0;
    }

    @media screen and (max-width: 767px) {
        .popup__text-description{
            font-size: 18px;
            line-height: 22px;
            max-width: 240px;
            padding: 25px 22px 75px 22px;
    }
    }
   

    .popup__contact-info {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
        padding-left: 36px;
        margin: 0;
    }

    @media screen and (max-width: 767px) {
        .popup__contact-info {
            padding-left: 22px;
    }
    }


    .popup__item-name {
        max-width: 358px;
        height: 27px;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 767px) {
        .popup__item-name {
            width: 238px;
            margin-bottom: 22px;
    }
    }

    .popup__item-about {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        max-width: 358px;
        height: 27px;
        color: #000000;
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 767px) {
        .popup__item-about  {
            width: 238px;
    }
    }

    .popup__button-retention {
        background-color: #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        max-width: 358px;
        height: 50px;
        text-align: center;
        color: #FFFFFF;
        margin: 48px 0 37px 0;
        padding: 0;
    }

    .popup__button-retention:hover {
        opacity: 0.8;
        cursor: url(../../../images/Pointer.png) 2 2, pointer;
    }

    @media screen and (max-width: 767px) {
        .popup__button-retention{
            width: 238px;
            height: 46px;
            margin: 45px 0 25px 0;
    }
    }

    
    