.popup__container {
    width: 430px;
    background: #FFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
}
}
