.profile {
    display: flex;
    max-width: 880px;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .profile  {
        display: block;
        max-width: 282px;
        text-align: center;
        margin: 0 auto 50px auto;
    }
}
