.elements__mesto-name {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    max-width: 189px;
    height: 29px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}