.header__logo {
    max-width: 142px;
    height: 33px;
    padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .header__logo  {
        width: 103.74px;
        height: 24.4px;
        padding-left: 27px;
        padding-bottom: 0;
    }
}
