.profile__user-name {
    margin: 0;
    padding: 0;
    max-width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1100px) {
    .profile__user-name {
        font-size: 27px;
        line-height: 33px;
        margin-bottom: 7px;
}
}
