.profile__user-info {
    margin: 16px 0 0 0;
    padding-top: 0;
    max-width: 336px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1100px) {
    .profile__user-info {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0px 0 33px 0;

}
}
