.profile__button-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 0;
  margin: 0 30px 0 0;
  padding: 0;
  position: relative;
}

.profile__button-avatar:hover::before {
  opacity: 1;
}

.profile__button-avatar::before {
  content: '';
  z-index: 2;
  width: 120px;
  height: 120px;
  position: absolute;
  background-image: url(../../../images/Vector-avatar.png);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (max-width: 1100px) {
  .profile__button-avatar {
      margin-right: 0;
      margin-bottom: 22.25px;
}
}
